recursive-include nl_service_metadata_generator/data/json *.json
recursive-include nl_service_metadata_generator/data/templates *.xml
recursive-include nl_service_metadata_generator/data/schema *.xsd
recursive-include nl_service_metadata_generator/data/json_schema *.schema.json
