{{#boundingbox}}
<srv:extent>
    <gmd:EX_Extent>
        <gmd:geographicElement>
            <gmd:EX_GeographicBoundingBox>
                <!-- https://geonovum.github.io/Metadata-ISO19119/#Omgrenzende%20rechthoek -->
                <!-- Moet overeenkomen met element WMS_Capabilities/Capability/Layer/Ex_GeographicBoundingBox in het Capabilities bestand -->
                <gmd:westBoundLongitude>
                    <gco:Decimal>{{minx}}</gco:Decimal>
                </gmd:westBoundLongitude>
                <gmd:eastBoundLongitude>
                    <gco:Decimal>{{maxx}}</gco:Decimal>
                </gmd:eastBoundLongitude>
                <gmd:southBoundLatitude>
                    <gco:Decimal>{{miny}}</gco:Decimal>
                </gmd:southBoundLatitude>
                <gmd:northBoundLatitude>
                    <gco:Decimal>{{maxy}}</gco:Decimal>
                </gmd:northBoundLatitude>
            </gmd:EX_GeographicBoundingBox>
        </gmd:geographicElement>
    </gmd:EX_Extent>
</srv:extent>
{{/boundingbox}}